extends layout.pug

block content
	.single
		.single__hero
			img.single__image(src=((store.photo) ? "/uploads/"+store.photo : "/uploads/store.png"))
			h2.title.title--single
				a(href="/store/"+store.slug) #{store.name}

	.single__details.inner
		img.single__map(src=h.staticMap(store.location.coordinates))
		p.single__locatin= store.location.address
		p= store.description

		if store.tags
			ul.tags
				each tag in store.tags
					li.tag
						a.tag__link(href="/tags/"+tag)
							span.tag__text ##{tag}

		if user
			form.reviewer(action=("/reviews/"+store._id) method="POST")
				textarea(name="text" placeholder="Did you try this place? Have sothing to say? Leave a review...")
				.reviewer__meta
					.reviewer__stars
						each num in [5,4,3,2,1]
							input(type="radio" id=("star"+num) name="rating" value=(num) required)
							label(for=("star"+num)) #{num} stars
					input.button(type="submit" value="Submit Review ➡")

		if store.reviews
			.reviews
				each review in store.reviews
					.review
						.review__header
							.review__author
								img.avatar(src=(review.author.gravatar))
								p= (review.author.name)
							.review__stars(title=("Rated"+review.rating+ "out of 5 stars"))
								= ('★'.repeat(review.rating))
								= ('☆'.repeat(5-review.rating))
							time.review__time(datatime=(review.created))= h.moment(review.created).fromNow()
						.review__body
							p= review.text


