extends layout.pug

block content
	.inner
		h1 #{title}
		.stores
			each store in stores
				.store
					.store__hero
						.store__actions
							if user
								.store__action.store__action--heart
									form.heart(method="POST" action=("/api/stores/"+store._id+"/heart"))
										- const heartStrings = user.hearts.map((obj)=> obj.toString())
										- const heartClass = heartStrings.includes(store._id.toString()) ? 'heart__button--hearted' : ''
										button.heart__button(type="submit" name="heart" class=(heartClass))
											!= h.icon('heart')
							if user && store.author.equals(user._id)
								.store__action.store_action--edit
									a(href="/stores/"+store._id+'/edit')
										!= h.icon('pencil')
							if store.reviews
								.store__action.store__action--count
									!= h.icon('review')
									span= store.reviews.length
						img(src= store.photo ? '/uploads/'+store.photo : '/uploads/store.png')
						h2.title
							a(href='/store/'+store.slug) #{store.name}
					.store__details
						p= store.description.split(' ').slice(0, 25).join(' ')
		.pagination
			.pagination__prev
				if page > 1
					a(href=('/stores/page/'+(page - 1))) Prev
			.pagination__text
				p Page #{page} of #{pages} - #{count} total results
			.pagination__next
				if page < pages
					a(href=('/stores/page/'+(parseFloat(page) + 1))) Next